<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="https://s3-us-west-2.amazonaws.com/marksaws-crap/heimdall.ico">

    <title>Heimdallv2</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
  </head>

  <body>

    <nav class="navbar navbar-default">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navBar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/"><img style="width: 50px; margin-top: -15px; height: 50px;" src="https://s3-us-west-2.amazonaws.com/marksaws-crap/heimdall.ico"></a>
          <a class="navbar-brand" href="/">Heimdallv2</a>
          </a>
        </div>
        <div class="collapse navbar-collapse" id="navBar">
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">GET <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/get/user">GET User Info</a></li>
                <li><a href="/get/all">GET Users in Domain</a></li>
                <li><a href="/get/domain">GET Domain Info</a></li>
              </ul>
            </li>
            <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">PUT <span class="caret"></span></a>
            <ul class="dropdown-menu" role="menu">
              <li><a href="/put/domainvex">Set visibleInExchangeGAL for Domain</a></li>
              <li><a href="/put/uservex">Set visibleInExchangeGAL for User</a></li>
            </ul>
          </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">API Tool Script <span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                <li><a href="/getstarted">Getting Started</a></li>
                <li><a href="/examples">Examples</a></li>
                <li><a href="/apitool">Download Python Script</a></li>
              </ul>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/feedback"><span class="glyphicon glyphicon-envelope" aria-hidden="true"></span> Feedback</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>


    <div class="container">

      {% block content %}
      {% endblock %}

    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <script type="text/javascript">
        function ShowLoading(e) {
            var div = document.createElement('div');
            var img = document.createElement('img');
            img.src = 'http://handysolver.com/images/ajax-loader.gif';
            div.innerHTML = "Making API Call..(this can take a while)...<br />";
            div.style.cssText = 'position: fixed; top: 35%; left: 35%; width: 422px; text-align: center;'
            div.appendChild(img);
            document.body.appendChild(div);
            return true;
            //These 2 lines cancel form submission, so only use if needed.
            window.event.cancelBubble = true;
            e.stopPropagation();
        }
    </script>
  </body>
</html>
