{% extends "base.html" %}
{% block content %}

{% if success %}
<div class="alert alert-dismissible alert-success">
  <button type="button" class="close" data-dismiss="alert">&times;</button>
  <strong>{{ success }}</strong>
</div>
{% endif %}



  <h2 style="text-align: center;">GET Requests</h2>
    <br>

    <ul class="nav nav-tabs">
      <li role="presentation"><a href="/get/user">Get User Info</a></li>
      <li role="presentation" class="active"><a href="/get/domain">Get Domain Info</a></li>
      <li role="presentation"><a href="/get/all">Get Users in Domain</a></li>
    </ul>
    <br>
    <br>

    <form  class="form-inline" method="POST" action="/get/domain" onsubmit="ShowLoading()">
      {{ form.hidden_tag() }}
      <div class="form-group" style="margin-right: 15px;">
        {{ form.customer_id.label }}:
        {{ form.customer_id}}
      </div>

      <div class="form-group" style="margin-right: 15px;">
        {{ form.domain.label }}:
        {{ form.domain }}
      </div>
      <div class="form-group" style="margin-right: 15px;">
        {{ form.mbx_type.label }}:
        {{ form.mbx_type }}
      </div>

      <button style="margin-left: 10px;" type="submit" class="btn btn-primary">Make API Call</button>
  </form>

  <br>
  <br>

  {% if data %}
  <h2> Your Request: </h2>
  <br>

  <table class="table">
    <tbody>
      <tr>
        <th scope="row">HTTP Method:</th>
        <td>{{ method }}</td>
      </tr>
      <tr>
        <th scope="row">Customer ID:</th>
        <td>{{ cst_id }}</td>
      </tr>
      <tr>
        <th scope="row">Domain:</th>
        <td>{{ domain }}</td>
      </tr>
      <tr>
        <th scope="row">Mailbox Type:</th>
        {% if mbx_type == 'rs' %}
        <td>Rackspace Email</td>
        {% else %}
        <td>Exchange</td>
        {% endif %}
      </tr>
    </tbody>
  </table>

  <p> API Response: </p>
  <pre>
  <code>
    {{ data }}
  </pre>
  </code>
  {% endif %}


{% endblock %}
